<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Item: ' + ${item.getName()}"></title>
    <link rel="stylesheet" th:href="@{/css/item.css}">
</head>
<body>

<!-- Header Panel -->
<header class="header">
    <div class="title"><a href="/auth/dashboard">Cinema World</a></div>
    <div class="header-icons">
        <a href="/basket"><img src="/icons/cart.svg" alt="Cart" class="cart-icon"></a>
        <a href="/auth/lks"><img src="/icons/user.svg" alt="User" class="user-icon"></a>
    </div>
</header>

<div class="container">
    <header>
        <h1 th:text="${item.getName()}">Наименование</h1>
    </header>

    <div class="client-details">
        <p><strong>Описание:</strong> <span th:text="${item.getDescription()}"></span></p>
        <p><strong>Закупочная цена:</strong> <span th:text="${item.getSellingPrice()}"></span> ₽</p>
        <p><strong>Цена для продажи:</strong> <span th:text="${item.getPurchasePrice()}"></span> ₽</p>
        <p><strong>Категория:</strong> <span th:text="${item.getCategory().getName()}"></span></p>
        <p><strong>Остаток:</strong> <span th:text="${item.getQuantity()}"></span></p>
    </div>

    <div class="update-link">
        <a th:href="@{/item/edit/{id}(id=${item.getId()})}" class="back-btn">Редактировать</a>
    </div>

    <div class="back-link">
        <a th:href="@{/item/find_all}" class="back-btn">Вернуться</a>
    </div>
</div>

</body>
</html>
