<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Детали заказа</title>
  <link rel="stylesheet" th:href="@{/css/order.css}">
</head>
<body>

<header class="header">
  <div class="title">Cinema World</div>
  <div class="header-icons">
    <a href="/basket"><img src="/icons/cart.svg" alt="Cart" class="cart-icon"></a>
    <a href="/auth/lks"><img src="/icons/user.svg" alt="User" class="user-icon"></a>
  </div>
</header>

<div class="order-details-container container">
  <header>
    <h1 class="order-details-title">Детали заказа</h1>
  </header>

  <div class="order-info">
    <p><strong>Идентификатор:</strong> <span th:text="${order.getId()}"></span></p>
    <p><strong>Дата создания:</strong> <span th:text="${order.getOrderDate()}"></span></p>
    <p><strong>Покупатель:</strong> <span th:text="${order.getCustomer().getName()}"></span></p>
    <p><strong>Город:</strong> <span th:text="${order.getCity()}"></span></p>
    <p><strong>Адрес:</strong> <span th:text="${order.getAddress()}"></span></p>
    <p><strong>Сумма:</strong> <span th:text="${order.getTotalAmount()}"></span></p>
  </div>

  <div class="order-items">
    <h3>Товары:</h3>
    <ul>
      <li th:each="entry : ${order.getQuantities()}">
        <span th:text="${entry.key.getName()}"></span> - <span th:text="${entry.value}"></span> x <span th:text="${entry.key.getSellingPrice()}"></span> ₽
      </li>
    </ul>
  </div>
</div>

</body>
</html>
