<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Пользователь: ' + ${user.getUsername()}"></title>
    <link rel="stylesheet" th:href="@{/css/item.css}">
</head>
<body>

<!-- Header Panel -->
<header class="header">
    <div class="title"><a href="/auth/dashboard">Cinema World</a></div>
    <div class="header-icons">
        <a href="/basket"><img src="/icons/cart.svg" alt="Cart" class="cart-icon"></a>
        <a href="/auth/lks"><img src="/icons/user.svg" alt="User" class="user-icon"></a>
    </div>
</header>

<div class="container">
    <header>
        <h1 th:text="${user.getUsername()}">Наименование</h1>
    </header>

    <div class="user-details">
        <p><strong>Имя:</strong> <span th:text="${user.getName()}"></span></p>
        <p><strong>Фамилия:</strong> <span th:text="${user.getSurname()}"></span></p>
        <p><strong>Телефон:</strong> <span th:text="${user.getPhone()}"></span></p>
        <p><strong>Роль:</strong> <span th:text="${user.getRole()}"></span></p>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="submit-btn">Выйти</button>
    </form>
</div>

</body>
</html>
