<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema World</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<header>
    <div class="title">Cinema World</div>
    <div class="header-icons">
        <img src="/icons/cart.svg" alt="Cart" class="cart-icon">
        <img src="/icons/user.svg" alt="User" class="user-icon">
    </div>
</header>

<div class="divider"></div>

<div class="menu">
    <div class="menu-item">
        <img src="/icons/orders.svg" alt="Orders" class="menu-icon">
        <span class="menu-text"><a href="/order/find_all">Заказы</a></span>
    </div>
    <div class="menu-item">
        <img src="/icons/catalogue.svg" alt="Catalogue" class="menu-icon">
        <span class="menu-text"><a href="/order/find_all">Каталог</a></span>
    </div>
    <div class="menu-item">
        <img src="/icons/clients.svg" alt="Clients" class="menu-icon">
        <span class="menu-text"><a href="/client/find_all">Клиенты</a></span>
    </div>
    <div class="menu-item">
        <img src="/icons/storage.svg" alt="Storage" class="menu-icon">
        <span class="menu-text"><a href="/item/find_all">Склад</a></span>
    </div>
    <div class="menu-item">
        <img src="/icons/users.svg" alt="Users" class="menu-icon">
        <span class="menu-text"><a href="/order/find_all">Сотрудники</a></span>
    </div>
    <div class="menu-item">
        <img src="/icons/statistics.svg" alt="Statistics" class="menu-icon">
        <span class="menu-text"><a href="/order/find_all">Статистика</a></span>
    </div>
</div>
</body>
</html>